@CHARSET "ISO-8859-1";

div.field-bloc{
}
div.field-value-bloc{
	float: left;
	min-height: 25px;
	margin-top: 3px;
}
div.field-value-bloc{
	margin-right: 10px;
}
.field-data input,
.field-data select{
	margin-bottom: 2px;
}
div.field-value-bloc label{
	display: block;
	width: 120px;
	font-size: 10px;
	font-weight: bold;
	margin-bottom: 0;
}
div.field-title{
	padding: 5px;
	font-weight: bold;
	margin-bottom: 5px;
	cursor: pointer;
}
select.multiselect{
	width: 400px;
	min-height: 200px;
}
div.field-title{
	background-color: white;
}
#data .new div.field-title{
	background-color: #6DE26D;
}
.naked{
	border: none;
	color: #D51034;
	background: none;
	padding: 0;
}
.naked.set-fk,
.naked.set-pk,
.naked.unset-fk{
	width: 20px;
	height: 20px;
}
.naked.set-fk{
	background: url(../../icons/fk.png);
}
.naked.set-pk{
	background: url(../../icons/pk.png);
}
.naked.unset-fk{
	background: url(../../icons/fk-stop.png);
}
button{
	cursor: pointer;
}
#descriptors-tab, #config-tab{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}
#descriptors-tab{
	padding: 0;
}
div.addm2m{
	background: url(../../icons/add.png) 4px center no-repeat #424242;
	height: 20;
	padding-left: 20px;
	text-align: right;
	width: 50px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding: 7px;
	float: right;
	cursor: pointer;
	color: #7AB627;
}
#tabs .ui-multiselect li{
	background: url("images/ui-bg_glass_100_f6f6f6_1x400.png") repeat-x scroll 50% 50% #F6F6F6;
}
div.expand.expanded{
	background-position: bottom center;
}
div.expand{
	float: left;
	height: 20px;
	width: 20px;
	background: url("../../icons/expand.png") top center no-repeat transparent;
	margin-right: 15px;
}
div.field-title div.name-val{
	float: left;
	font-variant: small-caps;
}
div.field-title div.active-elem{
	float: left;
	margin-left: 10px;
}
div.field-title div.active-elem input[type=checkbox]{
	margin-bottom: 5px;
}
div.field-title div.name-val span.element-type{
	font-weight: normal;
}
textarea{
	width: 660px;
	height: 100px;
}
div#ajaxload{
	background: url("../../icons/ajaxload.gif") no-repeat transparent center center;
	height: 170px;
}
#right-modal{
	width: 700px;
}
.field-value-bloc span.label,
#right-modal span.label
{
	display: block;
	float: left;
	margin: 3px 5px 0;
	padding: 5px;
	cursor: pointer;
}
.field-value-bloc .list input[type=checkbox]{
	display: none;
}
.field-value-bloc.right label, .field-value-bloc.right span{
	float: left;
	width: auto;
	margin-top: 5px;
}
.field-values .remove{
	cursor: pointer;
}
.field-value-bloc.multi label,.field-value-bloc.multi select.available{
	float: left;
	width: auto;
	padding: 4px 6px;
}
.field-value-bloc.multi .field-values{
	/* clear: both; */
}
.field-value-bloc.multi{
	width: 100%;
	float: left;
}
.desc-titles li.active a{
	font-weight: bold;
}
.desc-titles li.new a{
	background-color: #EEE;
}
#right-modal .search-query{
	margin: 10px 0;
}